@media screen and (max-width:1300px)
{
	
}

@media screen and (max-width:1200px)
{
	
}

@media screen and (max-width:1023px)
{	
	
}

@media screen and (max-width:768px)
{
	nav.navbar-static-top .navbar-right{ margin-right:15px; }
}


@media screen and (max-width:767px)
{
	nav.navbar-static-top .navbar-right{ float: right; }
	.profile-img{ margin: 0; }
	.advance-search-box ul.dropdown-menu{ right:0; left:auto; }
}

@media screen and (max-width:479px)
{
	
	
}

@media screen and (max-width:350px)
{
	.navbar-static-top .nav.navbar-top-links li.dropdown{ display: inline-block; }
	
}




