body {
  background-color: #3f51b5;
}

.logo-element {
  background-color: #3f51b5;
}

.form-control:focus,
.single-line:focus {
  border-color: #3f51b5 !important;
}

textarea {
  resize: none;
}

.adm-menu ul.dropdown-menu {
  width: 160px;
}

a {
  color: #3f51b5;
}
a:hover {
  color: #3cbcf0;
}

.mini-navbar .nav-second-level {
  background-color: #3f51b5;
}

.btn-primary {
  background: #3f51b5;
  border-color: #3f51b5;
}
.btn-primary:hover {
  background: #6b7de1;
  border-color: #6b7de1;
}

.lg-logo {
  max-width: 150px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
.lg-logo img {
  width: 100%;
}

.logo {
  max-width: 100px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}

.left-main-menu ul.nav li a .icon {
  width: 30px;
  display: inline-block;
}
.left-main-menu ul.nav li a .icon img {
  width: 100%;
}

.left-main-menu ul.nav li a:focus {
  outline: none;
}

.left-main-menu .nav-header {
  background-color: #3f51b5 !important;
}
.left-main-menu ul.nav li a span.fa {
  margin-top: 4px;
}

ul.nav-second-level li a {
  padding-left: 70px;
}

body.mini-navbar .navbar-default .nav > li > a {
  padding: 14px 20px 14px 20px;
}

.page-heading {
  padding-bottom: 5px;
}
.page-heading h2 {
  margin-bottom: 0;
  margin-top: 25px;
}

.nav.navbar-top-links .count-info {
  padding: 10px 10px;
}

.profile-img {
  display: inline-block;
  margin: 0 8px 0 0;
}
.profile-img img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.message-header {
}
.message-header .dropdown-toggle {
  padding-top: 18px !important;
}

.notification-header {
}
.notification-header .dropdown-toggle {
  padding-top: 18px !important;
}

.navbar-top-links li {
  vertical-align: middle;
}

body.mini-navbar .navbar-default .nav > li > a {
  text-align: center;
}
body.mini-navbar .navbar-default .nav > li > a i {
  margin-right: 0;
}

.advance-search-box {
}
.nav.navbar-top-links .advance-search-box .dropdown-toggle {
  text-align: center;
  font-size: 18px;
  margin-top: 2px;
}
.advance-search-box .dropdown-toggle i {
  margin: 0;
}

.advance-search-box ul.dropdown-menu {
  width: 175px;
}
.advance-search-box ul.dropdown-menu li {
  padding: 7px 15px;
  margin: 0;
  border-radius: 3px;
}
.advance-search-box ul.dropdown-menu li input {
  margin: 0px 5px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.advance-search-box ul.dropdown-menu li:hover {
  background: #f5f5f5;
}

.notification-header ul.dropdown-menu {
  width: 160px;
}
.message-header ul.dropdown-menu {
  width: 160px;
}
